.App {
  font-family: "Tahoma", sans-serif;
  text-align: center;
}

.Timer-text {
  color: gray;
}

.b-start {
  border-radius: 5px;
  border-color: rgb(98, 140, 255);
  width: 110px;
  height: 30px;
  font-family: "Tahoma", sans-serif;
  color: white;
  font-size: 16px;
  background-color: rgb(98, 140, 255);
}

.b-start:hover {
  color: rgb(98, 140, 255);
  background-color: white;
  border-color: rgb(98, 140, 255);

}
